@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#git-image:hover{
	animation: bounce 1s;
}
#link-image:hover{
	animation: bounce 1s;
}
#so-image:hover{
	animation: bounce 1s;
}


.myhover:hover{

	cursor:pointer;
	transform: scale(1.2);
	opacity: 0.8;
}

#portfolio{

	background-color: #e0e0e0;
}
header{

	background-image: url("../img/background1.jpg") ;
	background-size: 100% 100%;

}

hr.star-light.headerstar{

	max-width: 750px;
}
hr.star-light.aboutme{

	max-width: 750px;
	margin-left:0;
}

hr.star-light{

	max-width: 750px;

}

hr.star-light.contactme{
	
	width: 850px ;
}

hr.star-light.connectme{

	width: 750px auto;
}

hr.star-primary{

	max-width: 850px ;
}
hr.star-primary.portfoliostar{

	width: 750px;
	margin-left:0;
}



}
hr.star-primary.portfolio-connect{

	border-color:black;

}

.form-group.floating-label-form-group{
border:1px solid;

}


hr.star-primary.contactme{

	max-width: 750px auto;
	margin-left:0;
}

.btn-success{
	background-color: white;
	color: #18BC9C;
}
.headerrow{

	height:230px;
}


.portfolio{

	border:2px solid;
	
	padding-bottom: 30px;

}

.portfoliodiv{
	border:2px solid;
	
	padding-bottom: 30px;

}

.portfolio-connectdiv{

	
	border:2px solid black;
	padding-bottom: 20px;
}


#bio-image{

	height: 180px;
	width: 180px ;
	float: left;
	margin-right:30px;



}

#header-img
{
	height: 180px;
	width: 180px;
}

.connectmeabout{

margin-top:100px;
}

.main-content{

border:2px solid;
margin-top:50px;


}

.connect-content{

border:2px solid white;
padding-bottom: 30px;

}

.connect-contentabt{
border:2px solid white;
padding-bottom: 30px;
margin-top: 50px;
}

#contact{
	background-color: #18BC9C;
}

#git-image,
#link-image,
#so-image
{
	margin-top: 10px;
	height:62px;
	width:62px;

}

.namesec{

	width: 750px;
	
	font-size: 20px;
	

}

.emailidsec{
	font-size: 20px;
	margin-left: 0;

}

.msgsec{

	font-size: 20px;
	margin-left: 0;


}

.labelrow{

	padding:0;
	margin-bottom: 20px;
}


.portfolio1,.portfolio2,
.portfolio3{

	margin-left:20px;
}



.hangman
{	
	width: 600px;
	height: 180px;
	margin-top: 20px;	
	

}

.rpggame{

	width: 600px;
	height: 180px;
	margin-top: 20px;
	margin-left: 40px;
	

}

.trivia{

	width: 600px;
	height: 180px;
	margin-top: 35px;
	
}

.rutgers{

	width: 600px;
	height: 180px;
	margin-top: 35px;
	margin-left: 40px;
	
	
	

}

.rockpaper{
		
	width: 600px;
	height: 180px;
	margin-top: 35px;
	
	
}

#hangmandiv
{
	
	position: relative;
	width: 280px;
	height: 50px;
	background-color: #4aaaa5;
	font-family: "Georgia","Times New Roman",Times,serif;
	font-size: 22px;
	text-align: center;
	padding-top:10px;
	color:#ffffff;
	margin-top: 0;
	z-index: 2;
	
}

#rpggamediv{
	
	position: relative;
	width: 280px;
	height: 50px;
	font-family: "Georgia","Times New Roman",Times,serif;
	font-size: 22px;
	background-color: #4aaaa5;
	color:#ffffff;
	text-align: center;
	padding-top: 10px;
	margin-top: 0;
	padding-left: 20px;
	margin-left: 40px;
	z-index: 2;
	
	
	
}

#triviadiv{

	position: relative;
	width: 280px;
	height: 50px;
	font-family: "Georgia","Times New Roman",Times,serif;
	font-size: 22px;
	padding-top: 10px;
	background-color: #4aaaa5;
	color:#ffffff;
	text-align: center;
	
	margin-top: 0;
	z-index: 2;

}

#rutgersdiv{

	position: relative;
	width: 280pX;
	height: 50px;
	background-color: #4aaaa5;
	color:#ffffff;
	font-family: "Georgia","Times New Roman",Times,serif;
	font-size: 22px;
	padding-top: 10px;
	margin-top: 0;
	text-align: center;
	padding-left: 20px;
	margin-left: 40px;
	
	z-index: 2;


	
}

#rockpaperdiv{
	
	position: relative;
	width: 280px;
	height: 50px;
	font-family: "Georgia","Times New Roman",Times,serif;
	font-size: 22px;
	padding-top: 10px;
	background-color: #4aaaa5;
	color:#ffffff;
	text-align: center;
	margin-top: 0;
	
	z-index: 2;
	
}

@media screen and (max-width:980px){

hr.star-light.contactme{

	width:310px;
}
hr.star-primary.portfoliostar{

	width:310px;
}


.main-content{


width:350px;

}


#bio-image{

	height: 250px;
	width: 250px;
	float: left;
	margin-right:30px;
	padding-bottom: 20px;
}

.connect-contentabt{

	position: relative;
	float: right;
	width:300px;
	margin-top:-980px;
}


.connect-content{

	position: absolute;	
	width:300px;
	margin-top:-670px;
	margin-left: 450px;
	
}


.portforlio-container{

	width: 350px;
	margin-left:100px;

}

.portfolio-connectdiv{

	border:2px solid;
	position: absolute;
	float: right;
	width:300px;
	margin-left: 450px;
	margin-top: -1785px;
	padding-bottom: 30px;

}

.hangman,.rpggame,
.trivia,.rutgers,
.rockpaper
{	
	width: 250px;
	height: 250px;
	margin-left:0;

}


#hangmandiv,#rpggamediv,
#triviadiv,#rutgersdiv,
#rockpaperdiv
{
	width: 250px;
	margin-left: 0;
	
}

.contact-container{

width:350px;
margin-left: 100px;
}


#namesec{
	margin-left: 5px;
}

#name{

	width: 100px;
}
.btn-success{
	background-color: white;
	color: #18BC9C;;
}

.form-group.floating-label-form-group{

width: 310px;
margin-left: 15px;

}
}

@media screen and (max-width:768px){

hr.star-light.contactme{

	width:610px;
}

hr.star-primary.portfoliostar{

width: 610px;
	}

.main-content{

width:650px;
margin-left: 50px;

}


.connect-contentabt{

	position: relative;
	float: left;
	width:650px;
	margin-top:50px;
	margin-left: 50px;
}



.portfolio-container{

	position: absolute;
	width: 650px;
	

}

.portfoliodiv{

	width: 650px;
	margin-left: -50px;
}

.portfolio-connectdiv{

	
	position: relative;
	float: left;
	margin-top: 50px;
	margin-right: 100px;
	margin-left: -50px;
	width: 650px;


}


.connect-content{

	position: relative;
	width:650px;
	margin-top:-670px;
	margin-left: 0;
	margin-top: 50px;
	
}

.contact-container{

position: relative;
width:350px;
margin-left: 100px;
}



.btn-success{
	background-color: white;
	color: #18BC9C;;
}

.form-group.floating-label-form-group{

width: 600px;
margin-left: 15px;

}

.contact-container{

	padding-left: 0;
	margin-left: 65px;
}

.portfolio{

	width: 650px;

}


#hangmandiv{

	position: relative;
	float: left;
	
}

.rpggame{
	float: right;
	margin-top: -250px;
	margin-right: 30px;
}

#rpggamediv{

float: right;
margin-right: 30px;
}

.rutgers{

	float: right;
	margin-top: -300px;
	margin-right: 30px;
}

#rutgersdiv{

float: right;
margin-top: -50px;
margin-right: 30px;

}

#portfolio3{

	clear:both;
	overflow: auto;
}
}

@media screen and (max-width:640px){

hr.star-light.contactme{

	width:510px;
}

hr.star-primary.portfoliostar{

	width: 500px;
	margin-left:0;
}

.main-content{

width:550px;
margin-left: 30px;

}

.connect-contentabt{

	position: relative;
	float: left;
	width:550px;
	margin-top:50px;
	margin-left: 30px;
}

.portfolio-container{

	position: absolute;
	width: 550px;
	

}

.portfoliodiv{

	width: 550px;
	margin-left: -70px;
}

.portfolio-connectdiv{

	
	position: relative;
	float: left;
	margin-top: 50px;
	margin-right: 100px;
	margin-left: -70px;
	width: 550px;


}


.contact-container{

position: relative;
width:150px;
margin-left: 40px;
}



.form-group.floating-label-form-group{

width: 500px;
margin-left: 15px;

}

.contact-container{

	padding-left: 0;
	margin-left: 45px;
}

.portfolio{

	width: 550px;

}

.connect-content{

	width:550px;
	margin-top:-670px;
	margin-left: 0;
	margin-top: 50px;
	
}

.hangman
{	
	width: 300px;
	height: 200px;
	
}

.rpggame{

	float: left;
	width: 300px;
	height: 200px;
	margin-top: 50px;
		

}

.trivia{

	width: 300px;
	height: 200px;
	
	
}

.rutgers{

	float: left;
	width: 300px;
	height: 200px;
	margin-top: 35px;
	
	

}

.rockpaper{

	width: 300px;
	height: 200px;
	margin-top: 35px;
	
}


#rpggamediv,#rutgersdiv,
#triviadiv,#rockpaperdiv,
#hangmandiv{

float: left;
width: 300px;
height: 50px;
margin-left: 0;

}




}